form{
    margin-top: 25px;
}
input {
    padding:10px;
    border: 1px solid grey;
    margin-left: 20px;
    margin-bottom: 20px;
}

label{
    float: left;
    min-width: 140px;
    vertical-align: bottom;
    padding-top: 10px;
}


.form-error-label{
    color: red;
    padding-left: 10px;
}

button {
    margin-right: 20px;

    border: none;
    background: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    padding: 5px 10px 5px 10px;
    overflow: hidden;

    background: #fcad26;
    color: #fff;
}
button:hover{
    background: #f29e0d;
}

button:disabled,
button[disabled]{
    background:grey;
}

label{
    clear: left;
}

label.datePickerLabel{
    margin-right: 20px;
}

button{
    clear: left;
}

.cta-buttons{
    float: left;
    margin-top: 30px;
}

.fieldUsages{
    display: inline-block;
}

.SingleDatePickerInput__withBorder{
    border:none!important;
}